<div id="<%= dom_id blog %>">
  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>

  <p>
    <strong>Body text:</strong>
    <%= blog.body_text %>
  </p>

  <p>
    <strong>Tag list:</strong>
    <%= blog.tag_list %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= blog.year %>
  </p>

</div>
